# Local Terraform directories and files
.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Terraform variables files (store sensitive data)
*.tfvars

# Ignore any temp files or IDE-specific settings
.idea/
.vscode/
