# Local Terraform directories and files
.terraform/
.terraform.lock.hcl

# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Terraform variables files (store sensitive data)
*.tfvars

# Ignore logs and system files
*.log
*.bak
.DS_Store

# Ignore any temp files or IDE-specific settings
*.swp
.idea/
.vscode/
